@media screen and (max-width: 980px){
	.col-half {
		float: left; margin-right: 3%;
	}
}

@media screen and (max-width: 768px){
	.col-half {
		float: none; diplay: block; margin-right: 0px !important; width: 100% !important;
	}
}

@media screen and (max-width: 480px){
	.col-half {
		article {
			img.avatar { display: none; }
			.wrap { padding-left: 1.5em !important; margin-left: 0px !important; }
		}
	}
}